html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  font-family: 'Righteous', cursive;
  font-family: 'PT Sans Caption', sans-serif;
}
div{
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}
