html, body {
  background-color: #141414;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  font-family: 'Righteous', cursive;
  font-family: 'PT Sans Caption', sans-serif;
}
div{
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  outline: 1px solid #AAAAAA;
  justify-content: center;
}
